* {
  font-family: 'Space Mono', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
}

body {
  background: hsl(185, 41%, 84%);
}

.logo {
  display: block;
  padding-top: 5rem;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.TipWrapper {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background: #fff;
  padding: 2rem;
  margin-top: 3rem;
}

.Bill {
  width: 100%;
  padding-right: 1rem;
  outline: none;
  border: none;
  background: #f3f8fa;
  border: 2px solid #f3f8fa;
  border-radius: 5px;
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  padding: 0.55rem 1rem;
  font-size: 24px;
}

h1 {
  font-size: 48px;
  letter-spacing: -1px;
}

h4 {
  color: hsl(186, 14%, 43%);
  margin-bottom: 0.5rem;
  font-size: 16px;
}

input:focus {
  border: 2px solid hsl(172, 67%, 45%);
}

input::placeholder {
  color: hsl(184, 14%, 56%);
}

.dollar {
  position: absolute;
  width: 15px;
  left: 1rem;
  top: 1.05rem;
}

.bill-wrapper {
  position: relative;
}

.tip-value {
  padding: 0.75rem 0;
  border-radius: 5px;
  font-weight: 700;
  font-size: 24px;
  border: none;
  background: hsl(183, 100%, 15%);
  color: #fff;
  cursor: pointer;
  transition: 0.1s ease-in;
}

#clicked-state {
  font-weight: 700;
  background: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.tip-value:hover {
  background: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
}

#tip-value-custom {
  background: #f3f8fa;
  color: hsl(186, 14%, 43%);
}

.select-tip {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.select-tip h4 {
  margin-bottom: 1.25rem;
}

.tip-value-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 1rem;
  text-align: center;
}

.left {
  margin-right: 3rem;
}

.tip-total {
  background: hsl(183, 100%, 15%);
  border-radius: 20px;
  padding: 1rem;
  height: 100%;
  position: relative;
  padding: 2rem 2.75rem;
}

.tip-total h1 {
  color: hsl(172, 67%, 45%);
}

.tip-person-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;
  margin-bottom: 1rem;
}

span {
  display: block;
  color: hsl(184, 14%, 56%);
  font-size: 13px;
}

h2 {
  font-size: 14px;
  color: hsl(189, 41%, 97%);
}

.reset {
  width: 100%;
  margin-top: 50%;
  background: hsl(172, 67%, 45%);
  border: none;
  padding: 0.6rem 2rem;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  color: hsl(183, 100%, 15%);
  cursor: pointer;
  transition: 0.1s ease-in;
}

.reset:hover {
  background: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
}

#reset-disabled {
  background: hsl(183, 100%, 23%);
  color: hsl(183, 100%, 18%);
  transition: 0.1s ease-in;
}

.custom-input {
  border-radius: 5px;
  background: #f3f8fa;
  border: 2px solid #f3f8fa;
  font-weight: 700;
  font-size: 24px;
  padding-right: 0.25rem;
  outline: none;
  color: hsl(183, 100%, 15%);
}

.people-total-zero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cant-be-zero {
  color: rgb(223, 12, 12);
}

#num-zero {
  border: 2px solid rgb(223, 12, 12);
}

@media (max-width: 893px) {
  .TipWrapper {
    flex-direction: column;
  }

  .left {
    margin-right: 0;
  }

  .tip-value {
    width: 100%;
  }

  .tip-value-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .Bill {
    margin-bottom: 2rem;
  }
  .tip-person-wrapper {
    width: 100%;
  }
}

@media (max-width: 380px) {
  .tip-value-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  h1 {
    font-size: 32px;
    letter-spacing: -0.67px;
  }
  .tip-total {
    padding: 2rem 1rem;
  }
}
